body{

font-family: "Courier New", monospace;

background:white;

color:black;

max-width:900px;

margin:auto;

padding:20px;

line-height:1.5;

}

hr{

border:1px solid black;

}

a{

color:blue;

}

a:visited{

color:purple;

}

h1,h2{

font-weight:normal;

}

pre{

font-family:inherit;

}